<h1>Editing Ldap Attribute Assign</h1>

<%= render 'form', ldap_attribute_assign: @ldap_attribute_assign %>

<%= link_to 'Show', @ldap_attribute_assign %> |
<%= link_to 'Back', ldap_attribute_assigns_path %>
