<p id="notice"><%= notice %></p>

<h1>LDAP Attributes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Field type</th>
      <th>Enable</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ldap_attributes.each do |ldap_attribute| %>
      <%= render "tr", ldap_attribute: ldap_attribute %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ldap Attribute', new_ldap_attribute_path, remote: true, class: "btn btn-lg btn-primary" %>
<div id="ldap_attribute-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
