<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Account</h5>
    </div>
  <div class="modal-body">
<p id="notice"><%= notice %></p>

<% LdapAttribute.attribute_names.each do |ldap_attribute| -%>
<p>
  <strong><%= ldap_attribute %>:</strong>
  <%= @account.send(ldap_attribute.to_sym) %>
</p>
<% end -%>

  </div>

  <div class="modal-footer actions">
<%= link_to 'Edit', edit_account_path(@account) %> |
<%#= link_to 'Back', account_path %>
  </div>
  </div>
</div>
